[class*="col-"] {
   /*background-color: lightgreen;*/
   /*  border: 1px solid black;*/
}


.carte__icon {
     height: 25px;
     width: auto;
}

.fa {
     color: #234a81;
}

#bodyContent {
     display: flex;
     align-items: center;
}

li
{
     color:#234a81;
}


.carte__popUp--photo {
     width: 150px;
     height: auto;
}

.input-group-addon {
     background-color: white;
}

.carte__popUp--title {
     font-weight: bold;
     font-size: large;
}

.carte__popUp {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

#map {
     height: 425px;
     margin-top: 15px;
}


