/*
HEADER
*/

.container-fluid {
    width: 100%;
    background-color: rgb(22,33,53);
}

body {
    background-color: #FFFADB;
    color:#234A81;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
h1,
h2,
h3,
p,
a {
    color: rgb(35,74,129);
    font-family: Helvetica;
}

form {
    display: inline-block;
}*/

.nav {
    display: inline;
    width: 100%;
    text-align: center;
}

.nav > li > a {
    display: block;
}

li > a {
    border: 0.1em solid;
    border-color: white;
    border-radius: 10px;
}

/*
FOOTER
*/
.navbar-fixed-bottom li > a {
    border: 0;
}

.navbar-fixed-bottom li > a, .navbar-default .navbar-nav>li>a {
    color: #FFFADB;
}

.navbar-fixed-bottom li > a:hover, .navbar-default .navbar-nav>li>a:hover {
    color:#fff;
    text-decoration: none;
}

.footer-bottom {
    width: auto;
}

.copyright,
.info-spirit {
    color: azure;
}

.info-spirit {
    text-align: right;
}



/*
MEDIA QUERIES
*/

@media(min-width: 767px) {

    .container-fluid {
        width: 100%;
        font-size: 12px;
    }

    .nav {
        display: flex;
        width: 280px;
    }

    .navbar-right {
        display: flex;
        width: 380px;
        margin-right: 0;
        text-align: right;
    }

    .navbar-right > form,
    .navbar-right > li {
        align-content: flex-end;
    }

    .navbar-collapse {
        width: auto;
        display: inline-flex;
    }

    .navbar-form {
        display: block;
        padding-left: 0;
        margin-top: 10px;
    }

    .nav > li > a {
        display: block;
        padding: 5px 5px 5px 5px;
        margin: 10px 5px 0 0;
    }

    .nav > li {
        display: inline;
    }
}

@media(max-width: 767px) {
    .navbar-form {
        display: none;
    }

    li > a {
        border: 0;
    }

    /*
    li > a:nth-last-child(1) {
        border-top: 0.1em solid;
        border-radius: 0;
    }
    */
}