body
{
    background-color: rgb(255, 250, 219);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom:300px;
}

html
{
    position:relative;
    min-height:100%;
}

a, span, p, h1, h2 , h3
{
    color:#234a81;
}

.header, .footer
{
    background-color: #162135;
}

.footer
{
    position:absolute;
    bottom:0;
    width:100%;
    height:250px;
}

.header__rubriques--name > *
{
    color: rgb(255, 250, 219) !important;
}

.border__radius--none
{
    border-radius:0;
}

/** SM devices **/
@media screen and (max-width: 768px)
{
    body
    {
        margin-bottom: 50px;
    }

    .footer
    {
        height:50px;
    }
    .navbar-toggle
    {
        margin-top: 8px;
        border-color:#162135 !important;
    }

    .navbar-toggle .icon-bar
    {
        background-color: rgb(255, 250, 219) !important;
    }

    #header__logo--mobile
    {
        height:50px;
        width:50px;
        padding:5px;
    }

    .header__rubriques--name
    {
        text-align: center;
    }

    .header__icons--mobile
    {
        height:30px;
        width:30px;
        margin: 8px 16px 0 0;
        padding:2px;
    }

    #header_form--hidden
    {
        display:none;
        margin-top:10px;
    }

    .footer {
        padding:10px;
    }
}

/** Desktop (medium) devices **/
@media screen and (min-width: 992px)
{
    .header
    {
        height: auto;
    }

    #header__logo--desktop
    {
        height:80px;
        width:80px;
        margin: 10px 40px 0 20%;
    }

    .header__rubriques--name > *
    {
        line-height: 100px !important;
        padding:0 !important;
    }


    .header .navbar-nav>li>a:hover
    {
        background-color: #234a81;
    }

    #header_form--hidden
    {
        display:none;
    }

    #header__form
    {
        display:inline-block;
    }

    #header__form--input
    {
        margin-top:25px;
        width:220px;
    }

    #header__form--container
    {
        position:relative;
    }

    #header_form--icon
    {
        position:absolute;
        cursor:pointer;
        height:25px;
        width:25px;
        top:50%;
        left:85%;
    }

    #header__icon--user
    {
        height:35px;
        width:35px;
        margin:20px 0 0 2em;
    }

    .header__rubriques--posRelative
    {
        position:relative;
        width:85px;
    }

    .header__rubriques--posAbsolute
    {
        position:absolute;
        width:150px;
        top:-14%;
    }

    .navbar li
    {
        margin-left:1em;
        margin-right: 1em;
    }

    .footer
    {
        padding:20px 5%;
    }

    #footer__logo--proftit
    {
        height:160px;
        width:160px;
        margin-top:-10px;
    }

    .footer li
    {
        list-style-type: none;
        line-height: 50px;
    }

    .footer li a, #footer__logo--facebook
    {
        color: rgb(255, 250, 219);
    }

    #footer__spacing--secondcolumn li
    {
        margin-top:-80px;
    }

    #footer__spacing--thirdcolumn li
    {
        margin-top:-10px;
    }
}

/** Desktop (large) devices **/
@media screen and (min-width: 1200px)
{
    .navbar li
    {
        margin-left:2em;
        margin-right: 2em;
    }
}

/** IPAD **/
@media screen and (min-device-width: 768px ) and (max-device-width: 768px ) and (min-device-height: 1024px) and (max-device-height: 1024px)
{
    .header
    {
        height: 100px;
        font-size:0.7em;
    }

    .footer
    {
        height:250px !important;
    }

    #header__logo--desktop
    {
        height:80px;
        width:80px;
        margin: 10px 20px 0 0;
    }

    .header__rubriques--name > *
    {
        line-height: 100px !important;
        padding:0 !important;
    }

    #header__form
    {
        display:inline-block;
    }

    #header__form--input
    {
        margin-top:25px;
        width:220px;
    }

    #header__form--container
    {
        position:relative;
    }

    #header_form--icon
    {
        position:absolute;
        cursor:pointer;
        height:25px;
        width:25px;
        top:50%;
        left:85%;
    }

    #header__icon--user
    {
        height:35px;
        width:35px;
        margin:20px 10px 0 10px;
    }

    .header__rubriques--posRelative
    {
        position:relative;
    }

    .header__rubriques--posAbsolute
    {
        position: absolute;
        width:70px;
        top:-15%;
        left:-7px;
    }

    .navbar li
    {
        margin-left:0.3em;
        margin-right:0.3em;
    }

    #footer__logo--proftit
    {
        height:160px;
        width:160px;
        margin-top:-10px;
    }

    #footer__spacing--secondcolumn li
    {
        margin-top:-80px;
    }

    #footer__spacing--thirdcolumn li
    {
        margin-top:-20px;
    }

    .footer
    {
        padding:20px;
    }

    .footer li
    {
        list-style-type: none;
    }

    .footer li a, #footer__logo--facebook
    {
        color: rgb(255, 250, 219);
    }

    #footer__logo--facebook
    {
        vertical-align: top;
    }
}


/*
AUTOCOMPLETE JQUERY UI
 */

.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
    padding: 3px 20px;
}
.ui-autocomplete > li:hover {
    background-color: rgba(35,74,129,.15);
}
.ui-autocomplete > li.ui-state-focus {
    background-color: #DDD;
}
.ui-helper-hidden-accessible {
    display: none;
}
