/*
HEADER
*/

.container-fluid {
    height: 84px;
    width: 100%;
    background-color: rgb(22,33,53);
}

body {
    background-color: #FFFADB;
    color:#234A81;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
<<<<<<< HEAD
}

=======
}

/*
h1,
h2,
h3,
p,
a {
    color: rgb(35,74,129);
    font-family: Helvetica;
}

form {
    display: inline-block;
}*/

>>>>>>> Closes #9, Closes #10
.nav {
    display: inline;
    width: 100%;
    text-align: center;
}

.nav > li > a {
    display: block;
}

.btn {
    font-size: 10pt;
}

li > a {
    height: 40px;
    border: 0.1em solid;
    border-color: white;
    border-radius: 10px;
}

#btn-menu, #btn-menu-collapsed {
    font-size: 10pt;
    text-align: center;
    color: rgb(255,250,219);
    background: transparent;
    margin-top: 20px;
    margin-left: 40px;
}

#btn-menu:hover {
    color: rgb(255,255,255);
    background-color: rgb(35,74,129);
    box-shadow: 0px 0px 18px 15px rgba(255,250,219,0.15) inset;
}

#btn-submit {
    font-size: 10px;
    margin-top: 20px;
}

.navbar-brand > img {
    height: 70px;
    width: 70px;
}

/*
.form-control {
    width: 208px;
    font-style: italic;
    text-align: left;
    text-color : RGB(189,201,218);
    background-color : RGB(255,255,255);
    box-shadow: 0px 0px 18px 15px rgba(35,74,129,0.15) inset;
}
*/

#collapse-1 {
    background-color: rgb(22,33,53);
}

#btn-menu-collapsed {
    display: none;
}

/*
FOOTER
*/
#footer-col {
    height: 150px;
}

#footer-col-1,
#footer-col-2 {
    margin-top: 20px;
}

#footer-menu-article,
#social {
    margin-top: 20px;

}

.navbar-fixed-bottom li > a {
    border: 0;
}

.navbar-fixed-bottom li > a, .navbar-default .navbar-nav>li>a {
    color: #FFFADB;
}

.navbar-fixed-bottom li > a:hover, .navbar-default .navbar-nav>li>a:hover {
    color:#fff;
    text-decoration: none;
}

.footer-bottom {
    width: 100%;
}

#footer-container {
    height: 210px;
}

.copyright,
.info-spirit {
    color: azure;
}

.info-spirit {
    text-align: right;
}


#footer-img {
    height: 155px;
    width: 110px;
}

#info-spirit-footer-bottom {
    text-align: right;
}

.container {
    width: 100%;
}


/*
MEDIA QUERIES
*/

@media(min-width: 767px) {

    .div {
        display: inline-block;
    }


    .container-fluid {
        width: 100%;
        font-size: 12px;
    }

    .nav {
        display: flex;
        width: 280px;
    }

    .navbar-right {
        display: flex;
        width: 450px;
        margin-right: 0;
        text-align: right;
    }

    .navbar-right > form,
    .navbar-right > li {
        align-content: flex-end;
    }

    .navbar-collapse {
        width: auto;
        display: inline-flex;
    }

    .form-inline { /* .navbar-form */
        display: block;
        padding-left: 0;
        padding-right: 0;
        margin-top: 20px;
    }

    .nav > li > a {
        display: block;
        padding: 5px 5px 5px 5px;
        margin: 10px 5px 0 0;
    }

    .nav > li {
        display: inline;
    }
}

/* GESTION DU BREAKPOINT NAVBAR */
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    #btn-menu {
        margin: 0;
        border: 0;
    }

    .navbar-right {
        display: none;
    }

    #btn-menu-collapsed {
        display: inline-block;
        margin: 0;
        border: 0;
    }

    #btn-menu:nth-child(1) {
        border-top: 10px;
    }
}


@media(max-width: 952px) {
    .form-inline { /* .navbar-form */
        display: none;
    }

    li > a {
        border: 0;
    }

    /*
    li > a:nth-last-child(1) {
        border-top: 0.1em solid;
        border-radius: 0;
    }
    */
}

@media (max-width: 625px) {
    a,
    .copyright,
    .info-spirit{
        font-size: 10px;
    }
}