[class*="col-"] {
   /* background-color: lightgreen;*/
   /* border: 1px solid black;*/
}

a, span, p, h1, h2, h3 {
    color: #234a81;
}
.obs__general{
    margin-top: 15px;
    height:420px;
}

.obs__general,
.obs__actions
{
    padding:10px;
    background-color: #fff;
}

.obs__actions
{
    height:105px;
}

.obs__container {}

.obs__container--userImage
{
    display:inline-block;
    height:70px;
    width:70px;
    margin: 0 1% 2% 0;
}

.obs__container--image
{
    height:300px;
    width:300px;
    margin: 0 1% 0 0;
}

.obs__container--descriptionText
{
    width:300px;
    height:80px;
    border:0;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.add__obs {
    background: #ffffff;
    height: 112px;
}

.obs__photo-user {
    height: 112px;
}

.obs__photo {
    max-width: 100%;
}
.obs__photo--flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.obs__details{
    height: 30px;
}

.obs__details--display{
    margin-top: 30px;
    height: 30px;
}

.obs__details--icon {
    height: 100%;
}
.obs__photo-bird{
    height: 448px;
}

.obs__description{
    height: 114px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.obs__map{
       height: 284px;
       /*background-color: grey;*/
   }

.obs__map--img{
    width:100%;
}

.map
{
    height:170px;
}

/** SM Devices **/
@media screen and (max-width:768px)
{
    .obs__general
    {
        height:auto;
    }
    .obs__container--image
    {
        height:auto;
        width:auto;
        margin-bottom: 20px;
    }

    .obs__container--userImage
    {
        height:60px;
        width:60px;
    }

    .obs__container--userImageText,
    .obs__details
    {
        font-size: 0.9em;
    }

    .obs__actions .obs__container--userImage
    {
        margin-right:15px;
    }
}
