.user-info {
    height: 500px;
    margin-bottom: 30px;
}

#user-info__photo--button
{
    position:relative;
    line-height: 255px;
    text-align: center;
}

.user-info__photo--file
{
    cursor: pointer;
    position: absolute;
    top:0;
    opacity:0;
}

.user-info, #user-observations {
    background-color: #fff;
}

#user-observations {
    height: 40px;
    width: 150px;
}

#user-observations a {
    text-decoration: none;
}

#user-observations, #user-info__username {
    line-height: 40px;
}

#user-observations--mobile
{
    background-color: #fff;
    height:60px;
}

#user-info__photo {
    height: 255px;
    width: 255px;
    position: relative;
    margin-right: 20px;
}

#user-info__photo--load {
    height:255px;
    width:255px;
}

#user-info__photo--trash {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 5px;
    background-color: #fff;
    z-index:1;
}

#user-info__photo--trash, #user-info__calendar, #user-info__mail {
    height: 30px;
    width: 30px;
}

#user-info__calendar {
    margin-right: 15px;
}

#user-info__dateinscription {
    line-height: 30px;
}

#user-info__description {
    margin-top: 20px;
}

#user-info__email {
    margin-top: 5px;
}

.user-info__mail--input {
    border: 0;
    line-height: 30px;
    margin-left: 5px;
}

.user-info__stats {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.user-info__stats, .user-info__stats--text {
    margin-top: 5px;
}

.user-info__stats--text, .user-info__statsPublic--text {
    line-height: 50px;
}

textarea, .user-info__description  {
    border: 0;
    width: 300px;
    height: 100px;
    overflow-y: scroll;
}

label, textarea, .user-info__mail--input {
    color: rgb(35, 74, 129);
}

.padding-left--none {
    padding-left: 0;
}

.text--bold {
    font-weight: bold;
}

.button {
    height: 45px;
    width: 150px;
    border: 0;
    background-color: rgb(35, 74, 129);
    color: rgb(255, 250, 219);
}

.button a {
    color: rgb(255, 250, 219);
    text-decoration: none;
}

.button:hover {
    box-shadow: 10px 10px 10px 0 rgba(255, 210, 219, .15) inset;
}

/*
    Mobile XS Devices
 */
@media screen and (max-width:768px)
{
    #user-info__photo
    {
        width:100%;
        height:auto;
        margin-bottom:5px;
    }

    .user-info__description
    {
        height:auto;
        margin-bottom: 10px;
        overflow-y: hidden;
    }

    .checkbox label
    {
        padding-left:35px;
    }

    .user-info
    {
        height:auto;
        padding-bottom:10px;
    }

    .button
    {
        height:40px;
        width:145px;
    }

    .user-info__stats--text
    {
        font-size: 0.9em;
        line-height: normal;
        margin-bottom: 50px;
        padding-top:20px;
    }

    .user-info__description
    {
        margin-bottom: 0;
    }

    .user-info__stats
    {
        margin-right: 5px;
    }
}
