{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <h1>Erreur</h1>
            <div class="background--white">
                <p><span class="fa fa-exclamation" aria-hidden="true"></span> Accès interdit.</p>
            </div>
            <div class="margin-top">
                <a href="{{ path('home') }}">&rarr; Retourner à l'accueil</a>
            </div>
        </div>
    </div>
{% endblock %}
