<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    { % block stylesheet % }
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style2.css">
    { % endblock % }

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<!-- navbar mobile -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="" alt="TIT">
            </a>
        </div>

        <!-- navbar -->
        <div class="collapse navbar-collapse" id="collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">Débuter l'Ornithologie</a></li>
                <li><a href="">Observations</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Rechercher">
                    </div>
                    <button type="submit" class="btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </form>
                <li><a href="#">Inscription / Identification</a></li>
            </ul>
        </div>
    </div>
</nav>


<!-- footer -->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-2" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapse-1">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <ul class="list-unstyled clear-margins">
                    <li class="widget-container widget_nav_menu">
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Débuter l'ornithologie</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Plan du site</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Contact</a></li>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <ul class="list-unstyled clear-margins">
                    <li class="widget-container widget_nav_menu">
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Observations</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Carte interactive</a></li>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <ul class="list-unstyled clear-margins">
                    <li class="widget-container widget_nav_menu">
                    <li><a href="https://www.facebook.com/..."><i class="fa fa-facebook-square fa-2x" id="social"></i> Facebook</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Mentions legales</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Copyright</a></li>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <a class="navbar-brand" href="#">
                    <img src="" alt="TIT">
                </a>  <!-- définit la source du logo et vérifier l'alt--><!-- logo -->
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="copyright">
                            @ 2017, OpenSpirit, All rights reserved
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="info-spirit">
                            OpenSpirit | Agence digitale media
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</nav>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="script.js"></script>
</body>
</html>