{% extends 'base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/modalObs.css') }}">
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-xs-12 visible-xs ">

        </div>
        <div class="col-xs-offset-2 col-xs-10 padding-left--none hidden-xs">
            <a href="" id="obs-load-desktop" class="modal-desktop" data-toggle="modal" data-target="#modal-login-desktop">Test</a>
        </div>
        <div class="col-xs-12 visible-xs text-center">
            <a href="" id="obs-load-desktop" class="modal-desktop" data-toggle="modal" data-target="#modal-login-desktop">Test</a>
        </div>
    </div>

{% endblock %}



{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('#obs-load-desktop').click(function () {
                $.ajax({
                    url: "{{ path('modal_add_observation') }}",
                    method: "GET"
                }).done(function (msg) {
                    var titre = '';
                    $('#modal-load-desktop').html(msg);
                    $('#modal-title-desktop').html(titre);
                });
            });
        }());
    </script>
{% endblock %}