{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <h1>Administration</h1>
            <a href="{{ path('admin_pages') }}">&rarr; Modifier le contenu SEO des pages</a>
        </div>
    </div>
{% endblock %}
