<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Mot de passe oublié ?</h4>
</div>
<div class="modal-body text-center" id="modal-text">
    <p>Pour réinitialiser votre mot de passe, saisissez l'adresse mail utilisée lors de votre inscription :</p>
    {{ form_start(form, {
            'attr' : { 'class' : 'form-horizontal', 'id' : 'form-reset'}
    }) }}
    {{ form_row(form.email) }}
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg" id="btn-reset-password" formnovalidate>Envoyer</button>
    </div>
        {{ form_end(form) }}
</div>
<script type="text/javascript">
    $('#btn-reset-password').click(function(e) {
        e.preventDefault();
        var $formData = $('#form-reset').serializeArray();
        $.ajax({
            url: '{{ path('reset_password') }}',
            method: "POST",
            data: $formData,
            statusCode: {
                201: function(msg) {
                    $('#modal-reset-password').html(msg);
                },
                200: function(msg) {
                    $('#modal-text').html(msg);
                }
            }
        });
    });
</script>
